
.column {
    margin: auto;
    margin-top: 150px;
    float: left;
    width: 25%;
}
.page
{
    align-items: center;
    display:flex;
    text-align: center;
    background-color: #4e4e4e;
    height: 315px;
    width:215px;
    margin: 0 auto;
}
.text{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #a9a9a9; 
}
.image
{
    
    height: 30px;
    width:215px;
    margin: auto;
    display:block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic  ;
    color: #a9a9a9; 
    background-color: #d3d3d3;
}