body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #666;
}

.input
{
    margin-left: 10px;    
    justify-content: flex-start;
    display: flex;
    width: 55%;
}
label
{
    width: 120px;
    justify-content: flex-end;
    display: flex;
}
.align
{
    display: flex;
    padding-top: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 120px;
}
.align-1
{
    
    display: flex;
    padding-top: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 120px;
}
h1{
    padding-left: 200px;
}
.box-1
{
    margin-left : auto;
    margin-right: auto;
    height: 70%;
    width: 35%;
    border: solid;
    border-color: #9e9c9c;
    background-color: #f8f6f7;
    color: gray ;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.box
{
    margin-left : auto;
    margin-right: auto;
    height: 50%;
    width: 35%;
    border: solid;
    border-color: #9e9c9c;
    background-color: #f8f6f7;
    color: gray ;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.btn
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
select
{
    margin-left: 10px;    
    justify-content: flex-start;
    display: flex;
    width: 55%;
}